.navbar-brand .logo_h {
	color: #fff !important;
}
.navbar-light .navbar-brand {
	color: #fff !important;
}

.sign_in_bg {
	background-color: #224abe;
	height: 180vh;
}
.sign_in_content {
	padding-top: 10rem;
}
.sign_in_content img {
	border-radius: 10px 0 0 10px;
}
.sign_in_form {
	background-color: #fff;
	border-radius: 0 10px 10px 0;
	padding: 45px 50px;
}
.sign_in_form h2 {
	margin-bottom: 2rem;
}
.sign_in_form input {
	border-radius: 5rem;
	padding: 30px;
}
.sign_in_form button {
	border: none;
	background-color: #4e73df;
	padding: 15px;
	color: #fff;
	width: 470px;
	border-radius: 5rem;
	margin: 25px 0;
}
.rights {
	text-align: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 30px;
	margin-top: 40px;
}
.add-basket:hover {
	background-color: #008cff;
}
.add-basket {
	margin-top: 0.25rem;
	background: none #222;
    background-color: rgb(34, 34, 34);
	color: #fff !important;
	padding: .625rem;
	font-size: .6875rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	font-weight: 900;
}
.products_img {
	position: relative !important;
	overflow: hidden;
}
.products_img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(5,72,75,0.616);
}
.products_img .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.products_img .img span {
	width: 25%;
	height: 100%; 
	transition-duration: 1s;
}
.products_img .img span:nth-child(1){
	background-position: 0;
}
.products_img .img span:nth-child(2){
	background-position: 33.33333%;
	transition-delay: 0.1s;
}
.products_img .img span:nth-child(3){
	background-position: 66.66666%;
	transition-delay: 0.2s;
}
.products_img .img span:nth-child(4){
	background-position: 100%;
	transition-delay: 0.3s;
}
.products_img:hover .img > span {
	transform: translateY(-100%);
}
.products-content {
	text-align: center;
}
.products-content h2 {
	color: lightgray;
}
.products-content {
	position: absolute;
	left: 35%;
	top: 320px;
	transition-delay: 0.3s; 
	transition-duration: 0.5s;
}
.products_img:hover .products-content {
	top: 120px;
}


.add_product .header_area .navbar {
	background-color: #412fb3 !important;
}
.add_product .products-content {
	left: 0;
}
.product-description {
	padding-top: 7rem;
}
.product-description .product_detail .product_detail-title {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.product-description .product_detail p {
	margin-bottom: 0;
}
.product-description .product_detail ul {
	border-top: 1px solid #e5e5e5;
	padding-top: 10px;
}
.product-description .product_detail strong {
	font-size: 1.2rem;
	color: #412fb3;
}
.product_detail .product_table {
	width: 100%;
	margin-bottom: 10px;
}
.product_detail .table_attr {
	width: 35%;
	font-weight: bold;
	padding: 5px 25px;
}
.product_detail .table_content {
	width: 65%;
	padding: 5px 25px;
}
.product-description .product_price {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 25px 20px;
	height: 385px;
}
.product-description .price {
	font-size: 20px;
	font-weight: bold;
	color: #1485bc;
	display: block;
}
.product-description .product_price .price p {
	color: #6c757d;
}
.product_price .achat {
	margin: 30px 0;
}
.product_price .achat h3{
	font-size: 25px;
	color: #47b64f;
}
.product_price .achat select {
	width: 45px;
}
.product_price .achat .achat-btn {
	background-color: #008cff;
	display: block;
	margin: 20px 0;
	border: none;
	padding: 5px;
	width: 270px;
	color: #fff;
	border-radius: 5px;
}
.product_price .achat .achat-btn img {
	width: 20px;
	height: 17px;
	margin-right: 15px;
}
.product_price .achat .achat-btn .filter-white {
	filter: invert(93%) sepia(79%) saturate(1%) hue-rotate(307deg) brightness(102%) contrast(101%);
}